openapi: "3.1.0"
info:
  title: SSHVault API
  description: Zero-Knowledge encrypted sync server for the SSHVault SSH client app.
  version: "1.0.0"
  contact:
    name: Kiefer Networks
    url: https://kiefer-networks.de

servers:
  - url: https://api.sshvault.app
    description: Production
  - url: http://localhost:8080
    description: Local Development

tags:
  - name: Auth
    description: |
      Authentication and registration.

      **Proof of Work (PoW)** — Register and Login require a solved PoW challenge.
      Flow: `GET /v1/auth/challenge` → solve locally → send solution via `X-PoW-Challenge` and `X-PoW-Nonce` headers.

      Algorithm: Find a nonce such that `SHA-256(challenge + nonce)` has at least `difficulty` leading zero bits.
  - name: Vault
    description: Encrypted vault sync
  - name: User
    description: User profile management
  - name: Devices
    description: Device management
  - name: Attestation
    description: Server identity attestation via Ed25519 signatures
  - name: Audit
    description: User activity audit logs
  - name: System
    description: Health checks

paths:
  /health:
    get:
      tags: [System]
      summary: Liveness check
      operationId: health
      responses:
        "200":
          description: Server is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /ready:
    get:
      tags: [System]
      summary: Readiness check
      operationId: ready
      responses:
        "200":
          description: Server and database are ready
        "503":
          description: Database not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/auth/challenge:
    get:
      tags: [Auth]
      summary: Get PoW challenge
      description: |
        Returns a Proof-of-Work challenge that must be solved before calling `/register` or `/login`.

        **How to solve:**
        1. Increment a nonce starting from 0
        2. Compute `SHA-256(challenge + nonce)` (string concatenation, nonce as decimal string)
        3. Count leading zero **bits** of the hash
        4. If leading zero bits >= `difficulty`, the solution is valid

        Challenges expire after 2 minutes and can only be used once.
      operationId: getChallenge
      responses:
        "200":
          description: PoW challenge issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowChallenge"
        "503":
          description: Server at capacity, try again later
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/auth/register:
    post:
      tags: [Auth]
      summary: Register new account
      description: Requires a solved PoW challenge. Get one from `GET /v1/auth/challenge` first.
      operationId: register
      parameters:
        - $ref: "#/components/parameters/PowChallenge"
        - $ref: "#/components/parameters/PowNonce"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 8
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "428":
          description: Proof of work required (missing X-PoW headers)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid or expired proof of work
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      description: Requires a solved PoW challenge. Get one from `GET /v1/auth/challenge` first.
      operationId: login
      parameters:
        - $ref: "#/components/parameters/PowChallenge"
        - $ref: "#/components/parameters/PowNonce"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                device_name:
                  type: string
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "428":
          description: Proof of work required (missing X-PoW headers)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid or expired proof of work
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh token pair
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              additionalProperties: false
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: New token pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      operationId: logout
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Logged out

  /v1/auth/verify-email:
    get:
      tags: [Auth]
      summary: Verify email address
      operationId: verifyEmail
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Email verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: email verified
        "400":
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      operationId: forgotPassword
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email]
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Reset link sent if email exists

  /v1/auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with token
      operationId: resetPassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              additionalProperties: false
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password reset successful

  /v1/vault:
    get:
      tags: [Vault]
      summary: Get current vault blob
      operationId: getVault
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current vault
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultResponse"
    put:
      tags: [Vault]
      summary: Upload vault blob (optimistic locking)
      operationId: putVault
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, blob, checksum]
              additionalProperties: false
              properties:
                version:
                  type: integer
                  minimum: 1
                blob:
                  type: string
                  format: byte
                checksum:
                  type: string
                  description: SHA-256 of blob
      responses:
        "200":
          description: Vault updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultWriteResponse"
        "409":
          description: Version conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"

  /v1/vault/history:
    get:
      tags: [Vault]
      summary: Get vault version history
      operationId: getVaultHistory
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Version history
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    items:
                      $ref: "#/components/schemas/VaultHistoryEntry"

  /v1/vault/history/{version}:
    get:
      tags: [Vault]
      summary: Get specific vault version
      operationId: getVaultHistoryVersion
      security:
        - bearerAuth: []
      parameters:
        - name: version
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Historical vault version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultResponse"
        "404":
          description: Version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/user:
    get:
      tags: [User]
      summary: Get user profile
      operationId: getUser
      security:
        - bearerAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
    put:
      tags: [User]
      summary: Update user profile
      operationId: updateUser
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
    delete:
      tags: [User]
      summary: Delete account (soft delete, purge after 30 days)
      operationId: deleteUser
      security:
        - bearerAuth: []
      responses:
        "202":
          description: Account deletion scheduled (30-day grace period)

  /v1/user/password:
    put:
      tags: [User]
      summary: Change password
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              additionalProperties: false
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                  minLength: 8
      responses:
        "200":
          description: Password changed

  /v1/devices/{id}:
    delete:
      tags: [Devices]
      summary: Remove device
      operationId: deleteDevice
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Device removed

  /v1/attestation:
    get:
      tags: [Attestation]
      summary: Get signed server attestation
      description: |
        Returns a signed attestation proving server identity. The client provides a nonce
        to prevent replay attacks. The server signs `server_id|timestamp|api_version|nonce`
        with its Ed25519 private key.
      operationId: getAttestation
      parameters:
        - name: nonce
          in: query
          required: true
          description: Client-generated nonce (max 128 characters)
          schema:
            type: string
            maxLength: 128
      responses:
        "200":
          description: Signed attestation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationResponse"
        "400":
          description: Nonce required or exceeds max length
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Nonce already used
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/user/avatar:
    put:
      tags: [User]
      summary: Update user avatar
      operationId: updateAvatar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [avatar]
              additionalProperties: false
              properties:
                avatar:
                  type: string
                  description: Base64-encoded avatar image (max 512 KB)
                  maxLength: 524288
      responses:
        "200":
          description: Avatar updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "413":
          description: Avatar exceeds 512 KB size limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags: [User]
      summary: Delete user avatar
      operationId: deleteAvatar
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Avatar deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: avatar deleted

  /v1/auth/logout-all:
    post:
      tags: [Auth]
      summary: Revoke all sessions for the authenticated user
      operationId: logoutAll
      security:
        - bearerAuth: []
      responses:
        "200":
          description: All sessions revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: all sessions revoked
        "500":
          description: Failed to revoke sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/audit:
    get:
      tags: [Audit]
      summary: Get user audit logs
      description: |
        Returns paginated audit logs for the authenticated user. Supports filtering
        by category, action, and time range.
      operationId: getAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [AUTH, VAULT, DEVICE, USER, SYSTEM]
          description: Filter by event category
        - name: action
          in: query
          schema:
            type: string
          description: Filter by specific action
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start of time range (RFC3339)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End of time range (RFC3339)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
          description: Maximum number of entries to return
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
          description: Number of entries to skip
      responses:
        "200":
          description: Paginated audit log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditQueryResult"
        "400":
          description: Invalid filter parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /v1/devices:
    get:
      tags: [Devices]
      summary: List user devices
      operationId: listDevices
      security:
        - bearerAuth: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Device"
    post:
      tags: [Devices]
      summary: Register a new device
      operationId: registerDevice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              additionalProperties: false
              properties:
                name:
                  type: string
                  description: Device display name
                  maxLength: 255
                platform:
                  type: string
                  description: Device platform (e.g. ios, android, linux, macos, windows)
                  maxLength: 50
                  default: unknown
      responses:
        "201":
          description: Device registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "400":
          description: Invalid request (name required or exceeds max length)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PowChallenge:
      name: X-PoW-Challenge
      in: header
      required: true
      description: The challenge string from `GET /v1/auth/challenge`
      schema:
        type: string
        example: "a1b2c3d4e5f67890abcdef1234567890abcdef1234567890abcdef1234567890"
    PowNonce:
      name: X-PoW-Nonce
      in: header
      required: true
      description: The nonce that solves the challenge (decimal string)
      schema:
        type: string
        example: "48291"

  schemas:
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message

    ConflictError:
      type: object
      required:
        - current_version
        - message
      properties:
        current_version:
          type: integer
        message:
          type: string

    PowChallenge:
      type: object
      properties:
        challenge:
          type: string
          description: Hex-encoded 32-byte random challenge
          example: "a1b2c3d4e5f67890abcdef1234567890abcdef1234567890abcdef1234567890"
        difficulty:
          type: integer
          description: Required number of leading zero bits in SHA-256(challenge + nonce)
          example: 16
        expires_at:
          type: integer
          format: int64
          description: Unix timestamp when this challenge expires (2 min TTL)
          example: 1741170120

    AuthResponse:
      type: object
      properties:
        user:
          $ref: "#/components/schemas/User"
        access_token:
          type: string
        refresh_token:
          type: string
        expires_at:
          type: integer
          format: int64

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        verified:
          type: boolean
        avatar:
          type: string
          description: Base64-encoded avatar image (max 512 KB)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    VaultResponse:
      type: object
      properties:
        version:
          type: integer
        blob:
          type: string
          format: byte
        checksum:
          type: string
        updated_at:
          type: integer
          format: int64

    VaultWriteResponse:
      type: object
      properties:
        version:
          type: integer
        checksum:
          type: string
        updated_at:
          type: string
          format: date-time

    VaultHistoryEntry:
      type: object
      properties:
        version:
          type: integer
        checksum:
          type: string
        created_at:
          type: integer
          format: int64

    Device:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
        platform:
          type: string
        last_sync:
          type: string
          format: date-time
        last_ip:
          type: string
        last_seen:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    AttestationResponse:
      type: object
      properties:
        server_id:
          type: string
          description: Unique server identifier
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp when attestation was created
        api_version:
          type: string
          description: Server API version
        nonce:
          type: string
          description: Client-provided nonce echoed back
        signature:
          type: string
          description: Base64-encoded Ed25519 signature of "server_id|timestamp|api_version|nonce"

    AuditEntry:
      type: object
      properties:
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum: [info, warn, error]
        category:
          type: string
          enum: [AUTH, VAULT, DEVICE, USER, SYSTEM]
        action:
          type: string
        actor_id:
          type: string
          format: uuid
        actor_email:
          type: string
        resource_type:
          type: string
        resource_id:
          type: string
        ip_address:
          type: string
        user_agent:
          type: string
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
        duration_ms:
          type: integer

    AuditQueryResult:
      type: object
      properties:
        audit_logs:
          type: array
          items:
            $ref: "#/components/schemas/AuditEntry"
        total:
          type: integer
          description: Total number of matching entries
        limit:
          type: integer
        offset:
          type: integer

