openapi: "3.1.0"
info:
  title: SSHVault API
  description: |
    Zero-Knowledge encrypted sync server for the SSHVault SSH client app.
    Protected routes return 403 `verification_required` for new unverified accounts. Accounts grandfathered by migration 023 retain login and sync access without changing their verified value.

    Unless an operation describes a more specific error, JSON endpoints use `ErrorResponse`. Request processing can return 400 for malformed input, 413 for an oversized body, 415 for an unsupported media type, 429 when rate limited, and 500 for an internal failure. Bearer-protected operations can additionally return 401 for an invalid, expired, or revoked access token, 403 `verification_required`, and 503 when authentication state cannot be checked.
  version: "1.0.0"
  contact:
    name: Kiefer Networks
    url: https://kiefer-networks.de

servers:
  - url: https://api.sshvault.app
    description: Production
  - url: http://localhost:8080
    description: Local Development

tags:
  - name: Auth
    description: |
      Authentication and registration.

      **Proof of Work (PoW)** — Register and Login require a solved PoW challenge.
      Flow: `GET /v1/auth/challenge` → solve locally → send solution via `X-PoW-Challenge` and `X-PoW-Nonce` headers.

      Work must also meet the current difficulty when submitted. If difficulty has increased, obtain a new challenge. Every submitted known challenge is consumed, including invalid work.

      Algorithm: Find a nonce such that `SHA-256(challenge + nonce)` has at least `difficulty` leading zero bits.
  - name: Vault
    description: Encrypted vault sync
  - name: User
    description: User profile management
  - name: Devices
    description: Device management
  - name: Attestation
    description: Server identity attestation via Ed25519 signatures
  - name: Audit
    description: User activity audit logs
  - name: System
    description: Health checks

security: []

paths:
  /health:
    get:
      tags: [System]
      summary: Liveness check
      operationId: health
      responses:
        "200":
          description: Server is alive
          content:
            application/json:
              schema:
                type: object
                required: [status]
                additionalProperties: false
                properties:
                  status:
                    type: string
                    const: ok

        default:
          $ref: "#/components/responses/DefaultError"

  /ready:
    get:
      tags: [System]
      summary: Readiness check
      operationId: ready
      responses:
        "200":
          description: Server and database are ready
          content:
            application/json:
              schema:
                type: object
                required: [status]
                additionalProperties: false
                properties:
                  status:
                    type: string
                    const: ready
        "503":
          description: Database not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/challenge:
    get:
      tags: [Auth]
      summary: Get PoW challenge
      description: |
        Returns a Proof-of-Work challenge that must be solved before calling `/register` or `/login`.

        **How to solve:**
        1. Increment a nonce starting from 0
        2. Compute `SHA-256(challenge + nonce)` (string concatenation, nonce as decimal string)
        3. Count leading zero **bits** of the hash
        4. If leading zero bits >= `difficulty`, the solution is valid

        Challenges expire after 2 minutes and can only be used once.
      operationId: getChallenge
      responses:
        "200":
          description: PoW challenge issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowChallenge"
        "503":
          description: Server at capacity, try again later
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/register:
    post:
      tags: [Auth]
      summary: Register new account
      description: Requires a solved PoW challenge. New, existing, and deleted addresses receive identical opaque acceptance. Submitted passwords are hashed for equal work and discarded, never installed or stored for activation. A new account has an unusable random password until its mailbox owner explicitly verifies with a chosen new_password. Delivery is queued with a 60-second recipient/purpose cooldown. Throttled requests send nothing and preserve the existing viable link; an admitted resend replaces it.
      operationId: register
      parameters:
        - $ref: "#/components/parameters/PowChallenge"
        - $ref: "#/components/parameters/PowNonce"
      requestBody:
        description: Email address and initial password used only to equalize registration work; mailbox activation installs a separately chosen password.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  x-minBytes: 8
                  x-maxBytes: 256
      responses:
        "202":
          description: Registration accepted without account identifiers or credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistrationResponse"
        "428":
          description: Proof of work required (missing X-PoW headers)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid or expired proof of work
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/login:
    post:
      tags: [Auth]
      summary: Login with email and password
      description: Requires a solved PoW challenge. Get one from `GET /v1/auth/challenge` first.
      operationId: login
      parameters:
        - $ref: "#/components/parameters/PowChallenge"
        - $ref: "#/components/parameters/PowNonce"
      requestBody:
        description: Account credentials and an optional display name recorded with the refresh session.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                device_name:
                  type: string
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "428":
          description: Proof of work required (missing X-PoW headers)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid or expired proof of work, or mailbox verification is required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh token pair
      description: Each refresh token can be rotated once. Reusing a consumed token revokes all account sessions, including the replacement token. Clients must serialize refresh requests and sign in again after replay rejection.
      operationId: refreshToken
      requestBody:
        description: The current single-use refresh token.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              additionalProperties: false
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: New token pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "401":
          description: Invalid or expired refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/logout:
    post:
      tags: [Auth]
      summary: Revoke refresh token
      operationId: logout
      requestBody:
        description: The refresh token to revoke. An empty or unknown token still receives an opaque success response.
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                refresh_token:
                  type: string
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/verify-email:
    get:
      tags: [Auth]
      summary: Preview mailbox activation
      description: Non-mutating HTML password form. Opening or scanning this link never consumes a token or changes account/session state.
      operationId: previewVerification
      parameters:
        - name: token
          in: query
          required: true
          description: Single-use mailbox verification token from the activation email.
          schema:
            type: string
      responses:
        "200":
          description: Password-entry form; no account mutation
          content:
            text/html:
              schema:
                type: string
        "400":
          description: Missing token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          $ref: "#/components/responses/DefaultError"

    post:
      tags: [Auth]
      summary: Verify mailbox and activate a new account
      description: Consumes a single-use mailbox token. For a new account, atomically verifies the address and installs only the new_password chosen by the mailbox owner here, ignoring all prior signup passwords. Grandfathered verification preserves existing credentials. Password length is enforced as 8–256 UTF-8 bytes. Sign in separately after activation.
      operationId: verifyEmail
      requestBody:
        description: Single-use mailbox token and the password selected by the mailbox owner. JSON and HTML form submissions are accepted.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/VerifyEmailRequest"
      responses:
        "200":
          description: Email verified; no session tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
        "400":
          description: Invalid password length, missing fields, or invalid/expired/consumed token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/confirm-email-change:
    get:
      tags: [Auth]
      summary: Preview a pending email change
      description: Non-mutating HTML landing page with an explicit confirmation form. Merely opening or scanning the link does not consume any token or change account/session state.
      operationId: previewEmailChange
      parameters:
        - name: token
          in: query
          required: true
          description: Single-use token from the email-change confirmation message.
          schema:
            type: string
      responses:
        "200":
          description: Confirmation form; no account mutation
          content:
            text/html:
              schema:
                type: string
        "400":
          description: Missing token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          $ref: "#/components/responses/DefaultError"

    post:
      tags: [Auth]
      summary: Confirm a pending email change
      description: Consumes a purpose-specific one-hour token once. Atomically installs and verifies the pending address, clears pending_email, revokes all sessions and obsolete email/reset tokens. Sign in again afterward. Password changes and resets cancel pending changes.
      operationId: confirmEmailChange
      requestBody:
        description: Pending email-change token. JSON and HTML form submissions are accepted.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              additionalProperties: false
              properties:
                token:
                  type: string
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        "200":
          description: Email changed; sign in again
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
        "400":
          description: Missing, expired, used, superseded, or conflicting email change token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request password reset
      operationId: forgotPassword
      requestBody:
        description: Recovery email address. The response is deliberately identical for known and unknown accounts.
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Reset link sent if email exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with token
      operationId: resetPassword
      requestBody:
        description: Single-use password-reset token and replacement password.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, new_password]
              additionalProperties: false
              properties:
                token:
                  type: string
                new_password:
                  type: string
                  x-minBytes: 8
                  x-maxBytes: 256
      responses:
        "200":
          description: Password reset successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
        "400":
          description: Missing fields, invalid password length, or invalid, expired, or consumed token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/vault:
    get:
      tags: [Vault]
      summary: Get current vault blob
      operationId: getVault
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current vault
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultResponse"
        default:
          $ref: "#/components/responses/DefaultError"

    put:
      tags: [Vault]
      summary: Upload vault blob (optimistic locking)
      description: The decoded write limit is exactly 15 MiB (15728640 bytes) by default; VAULT_MAX_SIZE_MB may lower it but cannot raise it. Base64 JSON is limited to 21037056 wire bytes (20 MiB plus 64 KiB envelope). A decoded blob above the configured limit returns 413 before persistence, including replacement/import uploads. Existing larger vaults and history remain readable/exportable. Vault blobs stream with optional gzip and bypass padding; bounded JSON responses up to 64 KiB use uncompressed 1 KiB padding.
      operationId: putVault
      security:
        - bearerAuth: []
      requestBody:
        description: New encrypted vault version, Base64 blob, and the client's SHA-256 checksum.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, blob, checksum]
              additionalProperties: false
              properties:
                version:
                  type: integer
                  minimum: 1
                blob:
                  type: string
                  format: byte
                  maxLength: 20971520
                checksum:
                  type: string
                  description: SHA-256 of blob
      responses:
        "200":
          description: Vault updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultResponse"
        "409":
          description: Version conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConflictError"
        "413":
          description: Request exceeds the configured upload limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/vault/history:
    get:
      tags: [Vault]
      summary: Get vault version history
      operationId: getVaultHistory
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Version history
          content:
            application/json:
              schema:
                type: object
                required: [history]
                additionalProperties: false
                properties:
                  history:
                    type: array
                    items:
                      $ref: "#/components/schemas/VaultHistoryEntry"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/vault/history/{version}:
    get:
      tags: [Vault]
      summary: Get specific vault version
      operationId: getVaultHistoryVersion
      security:
        - bearerAuth: []
      parameters:
        - name: version
          in: path
          required: true
          description: Positive vault version number.
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Historical vault version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VaultResponse"
        "404":
          description: Version not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/user:
    get:
      tags: [User]
      summary: Get user profile
      operationId: getUser
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        default:
          $ref: "#/components/responses/DefaultError"

    put:
      tags: [User]
      summary: Update profile or request a password-authenticated email change
      description: Email changes require current_password. The active recovery email and verification state remain unchanged until confirmation; other profile requests retain their shape.
      operationId: updateUser
      security:
        - bearerAuth: []
      requestBody:
        description: Profile fields to update. Changing the recovery email also requires the current password.
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email:
                  type: string
                  format: email
                  maxLength: 254
                current_password:
                  type: string
                  description: Required when changing email.
      responses:
        "202":
          description: Confirmation sent to the pending address; active email remains unchanged
          content:
            application/json:
              schema:
                type: object
                required: [status]
                additionalProperties: false
                properties:
                  status:
                    type: string
                    const: pending_confirmation
        "400":
          description: Invalid email, current password, unavailable email change, or recipient cooldown (retry after one minute)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "200":
          description: Updated user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        default:
          $ref: "#/components/responses/DefaultError"

    delete:
      tags: [User]
      summary: Delete account (soft delete, purge after 30 days)
      operationId: deleteUser
      security:
        - bearerAuth: []
      responses:
        "202":
          description: Account deletion scheduled (30-day grace period)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDeletionResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/user/password:
    put:
      tags: [User]
      summary: Change password
      operationId: changePassword
      security:
        - bearerAuth: []
      requestBody:
        description: Current password and replacement password.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              additionalProperties: false
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                  x-minBytes: 8
                  x-maxBytes: 256
      responses:
        "200":
          description: Password changed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/devices/{id}:
    delete:
      tags: [Devices]
      summary: Remove device
      operationId: deleteDevice
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Device identifier owned by the authenticated account.
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Device removed

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/attestation:
    get:
      tags: [Attestation]
      summary: Get signed server attestation
      description: |
        Returns a signed attestation proving server identity. The client provides a nonce
        to prevent replay attacks. The server signs `server_id|timestamp|api_version|nonce`
        with its Ed25519 private key.
      operationId: getAttestation
      parameters:
        - name: nonce
          in: query
          required: true
          description: Client-generated nonce (max 128 characters)
          schema:
            type: string
            minLength: 1
            maxLength: 128
      responses:
        "200":
          description: Signed attestation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttestationResponse"
        "400":
          description: Nonce required or exceeds max length
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: Nonce already used
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "503":
          description: Attestation nonce capacity temporarily exhausted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/attestation/pubkey:
    get:
      tags: [Attestation]
      summary: Get server attestation public key
      description: Returns the raw 32-byte Ed25519 public key encoded with standard Base64.
      operationId: getAttestationPublicKey
      responses:
        "200":
          description: Server attestation public key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicKeyResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/user/avatar:
    put:
      tags: [User]
      summary: Update user avatar
      operationId: updateAvatar
      security:
        - bearerAuth: []
      requestBody:
        description: Standard Base64 image payload.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [avatar]
              additionalProperties: false
              properties:
                avatar:
                  type: string
                  contentEncoding: base64
                  description: Standard Base64 image data; the encoded value is limited to 512 KiB and the decoded image to 256 KiB.
                  maxLength: 524288
      responses:
        "200":
          description: Avatar updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "413":
          description: Encoded avatar exceeds the 512 KiB request-field limit
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          $ref: "#/components/responses/DefaultError"

    delete:
      tags: [User]
      summary: Delete user avatar
      operationId: deleteAvatar
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Avatar deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/auth/logout-all:
    post:
      tags: [Auth]
      summary: Revoke all sessions for the authenticated user
      operationId: logoutAll
      security:
        - bearerAuth: []
      responses:
        "200":
          description: All sessions revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusResponse"
        "500":
          description: Failed to revoke sessions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/audit:
    get:
      tags: [Audit]
      summary: Get user audit logs
      description: |
        Returns paginated audit logs for the authenticated user. Supports filtering
        by category, action, and time range.
      operationId: getAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [AUTH, VAULT, DEVICE, USER, SYSTEM]
          description: Filter by event category
        - name: action
          in: query
          schema:
            type: string
          description: Filter by specific action
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start of time range (RFC3339)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End of time range (RFC3339)
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
          description: Requested number of entries; values above 100 are clamped to 100.
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
          description: Number of entries to skip
      responses:
        "200":
          description: Paginated audit log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditQueryResult"
        "400":
          description: Invalid filter parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

  /v1/devices:
    get:
      tags: [Devices]
      summary: List user devices
      operationId: listDevices
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Registered devices
          content:
            application/json:
              schema:
                type: object
                required: [devices]
                additionalProperties: false
                properties:
                  devices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Device"
        default:
          $ref: "#/components/responses/DefaultError"

    post:
      tags: [Devices]
      summary: Register a new device
      operationId: registerDevice
      security:
        - bearerAuth: []
      requestBody:
        description: Human-readable device name and optional platform label.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              additionalProperties: false
              properties:
                name:
                  type: string
                  description: Device display name
                  maxLength: 255
                platform:
                  type: string
                  description: Device platform (e.g. ios, android, linux, macos, windows)
                  maxLength: 50
                  default: unknown
      responses:
        "201":
          description: Device registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        "400":
          description: Invalid request (name required or exceeds max length)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

        default:
          $ref: "#/components/responses/DefaultError"

components:
  responses:
    DefaultError:
      description: Error response not listed separately by the operation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  securitySchemes:
    bearerAuth:
      description: Short-lived access token returned by login or refresh.
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PowChallenge:
      name: X-PoW-Challenge
      in: header
      required: true
      description: The challenge string from `GET /v1/auth/challenge`
      schema:
        type: string
        example: "a1b2c3d4e5f67890abcdef1234567890abcdef1234567890abcdef1234567890"
    PowNonce:
      name: X-PoW-Nonce
      in: header
      required: true
      description: The nonce that solves the challenge (decimal string)
      schema:
        type: string
        example: "48291"

  schemas:
    VerifyEmailRequest:
      description: Mailbox activation token and the password chosen during activation.
      type: object
      required: [token, new_password]
      additionalProperties: false
      properties:
        token:
          type: string
        new_password:
          type: string
          format: password
          x-minBytes: 8
          x-maxBytes: 256
          description: Password chosen by the mailbox owner; the server enforces 8–256 UTF-8 bytes.

    ErrorResponse:
      description: Standard JSON error body.
      type: object
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: string
          description: Human-readable error message

    ConflictError:
      description: Optimistic-lock conflict containing the current stored vault version.
      type: object
      required: [current_version, message]
      additionalProperties: false
      properties:
        current_version:
          type: integer
        message:
          type: string

    PowChallenge:
      description: Short-lived proof-of-work challenge and its required difficulty.
      type: object
      required: [challenge, difficulty, expires_at]
      additionalProperties: false
      properties:
        challenge:
          type: string
          description: Hex-encoded 32-byte random challenge
          example: "a1b2c3d4e5f67890abcdef1234567890abcdef1234567890abcdef1234567890"
        difficulty:
          type: integer
          description: Required number of leading zero bits in SHA-256(challenge + nonce)
          example: 16
        expires_at:
          type: integer
          format: int64
          description: Unix timestamp when this challenge expires (2 min TTL)
          example: 1741170120

    RegistrationResponse:
      description: Opaque registration result that does not reveal account existence.
      type: object
      required: [status]
      additionalProperties: false
      properties:
        status:
          type: string
          const: If registration is available, check your email to verify your account.

    AuthResponse:
      description: Authenticated user and a newly issued access/refresh token pair.
      type: object
      required: [user, access_token, refresh_token, expires_at]
      additionalProperties: false
      properties:
        user:
          $ref: "#/components/schemas/User"
        access_token:
          type: string
        refresh_token:
          type: string
        expires_at:
          type: integer
          format: int64

    User:
      description: Public profile fields for the authenticated account.
      type: object
      required: [id, email, verified, created_at, updated_at]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        pending_email:
          type: string
          format: email
          description: Present only while an email change awaits confirmation.
        verified:
          type: boolean
          description: Actual mailbox verification state. Pre-upgrade accounts remain authorized even when false.
        avatar:
          type: string
          contentEncoding: base64
          description: Standard Base64 image data; the encoded value is limited to 512 KiB and the decoded image to 256 KiB.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    VaultResponse:
      description: One encrypted vault version. Blob and checksum are absent when no vault exists yet.
      type: object
      required: [version, updated_at]
      additionalProperties: false
      properties:
        version:
          type: integer
        blob:
          type: string
          format: byte
        checksum:
          type: string
        updated_at:
          type: integer
          format: int64

    VaultHistoryEntry:
      description: Metadata for a retained encrypted vault version.
      type: object
      required: [version, checksum, created_at]
      additionalProperties: false
      properties:
        version:
          type: integer
        checksum:
          type: string
        created_at:
          type: integer
          format: int64

    Device:
      description: Device registered to the authenticated account.
      type: object
      required: [id, user_id, name, platform, created_at]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        name:
          type: string
        platform:
          type: string
        last_sync:
          type: string
          format: date-time
        last_seen:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    AttestationResponse:
      description: Server identity statement signed with the configured Ed25519 attestation key.
      type: object
      required: [server_id, timestamp, api_version, nonce, signature]
      additionalProperties: false
      properties:
        server_id:
          type: string
          description: Unique server identifier
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp when attestation was created
        api_version:
          type: string
          description: Server API version
        nonce:
          type: string
          description: Client-provided nonce echoed back
        signature:
          type: string
          contentEncoding: base64
          minLength: 88
          maxLength: 88
          description: Base64-encoded Ed25519 signature of "server_id|timestamp|api_version|nonce"

    PublicKeyResponse:
      description: Public verification key for server attestations.
      type: object
      required: [public_key]
      additionalProperties: false
      properties:
        public_key:
          type: string
          contentEncoding: base64
          minLength: 44
          maxLength: 44
          description: Standard Base64 encoding of the raw 32-byte Ed25519 public key.

    AuditEntry:
      description: One sanitized audit event visible to its owning account.
      type: object
      required: [id, timestamp, level, category, action]
      additionalProperties: false
      properties:
        id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum: [info, warn, error]
        category:
          type: string
          enum: [AUTH, VAULT, DEVICE, USER, SYSTEM]
        action:
          type: string
          enum: [REGISTER, LOGIN, LOGIN_FAILED, REFRESH_TOKEN, LOGOUT, LOGOUT_ALL, VERIFY_EMAIL, FORGOT_PASSWORD, RESET_PASSWORD, SYNC_PULL, SYNC_PUSH, HISTORY_VIEW, PROFILE_VIEW, PROFILE_UPDATE, PASSWORD_CHANGE, ACCOUNT_DELETE, DEVICE_REGISTER, DEVICE_LIST, DEVICE_DELETE, STARTUP, SHUTDOWN]
        actor_id:
          type: string
          format: uuid
        actor_email:
          type: string
        resource_type:
          type: string
        resource_id:
          type: string
        ip_address:
          type: string
        user_agent:
          type: string
        request_id:
          type: string
        details:
          type: object
          additionalProperties: true
        duration_ms:
          type: integer

    AuditQueryResult:
      description: Paginated audit events and result metadata.
      type: object
      required: [audit_logs, total, limit, offset]
      additionalProperties: false
      properties:
        audit_logs:
          type: array
          items:
            $ref: "#/components/schemas/AuditEntry"
        total:
          type: integer
          description: Total number of matching entries
        limit:
          type: integer
        offset:
          type: integer

    StatusResponse:
      description: Successful operation status.
      type: object
      required: [status]
      additionalProperties: false
      properties:
        status:
          type: string

    AccountDeletionResponse:
      description: Confirmation that the account entered its 30-day deletion grace period.
      type: object
      required: [status, message]
      additionalProperties: false
      properties:
        status:
          type: string
          const: account scheduled for deletion
        message:
          type: string
          const: Your account and data will be permanently deleted in 30 days.
